<div class="container">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="wrapper d-flex justify-content-center justify-content-lg-between align-items-center flex-wrap flex-column flex-lg-row">
                <h1 class="mb-3 mb-lg-0">Error al ingresar</h1>
                <button class="btn btn-primary" type="button" onclick="window.location.href = '/login'">Volver</button>
            </div>
        </div>
    </div>
</div>