<div class="container">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="wrapper saludo text-center">
                <h1>Hasta luego {{nombre}}</h1>
            </div>
        </div>
    </div>
</div>