<div class="container">
    <div class="row">
        <div class="col-12 mb-4">
            <form class="formproducto wrapper" id="formSignUp" method="post" onsubmit="sendFormSignUp(); return false;">
                <div class="formproducto__row">
                    <div class="formproducto__field">
                        <label for="usuario-username">Nombre de usuario</label>
                    </div>
                    <div class="formproducto__field">
                        <input id="usuario-username" type="text" name="usuario-username" placeholder="Ingrese su nombre de usuario.." required>
                    </div>
                </div>
                <div class="formproducto__row">
                    <div class="formproducto__field">
                        <label for="usuario-password">Password</label>
                    </div>
                    <div class="formproducto__field">
                        <input id="usuario-password" type="password" name="usuario-password" placeholder="Ingrese su password.." required>
                    </div>
                </div>
                <div class="formproducto__row">
                    <div class="formproducto__field">
                        <label for="usuario-email">E-mail</label>
                    </div>
                    <div class="formproducto__field">
                        <input id="usuario-email" type="text" name="usuario-email" placeholder="Ingrese su email.." required>
                    </div>
                </div>
                <div class="formproducto__row">
                    <div class="formproducto__field">
                        <label for="usuario-firstName">Nombre</label>
                    </div>
                    <div class="formproducto__field">
                        <input id="usuario-firstName" type="text" name="usuario-firstName" placeholder="Ingrese su nombre.." required>
                    </div>
                </div>
                <div class="formproducto__row">
                    <div class="formproducto__field">
                        <label for="usuario-lastName">Apellido</label>
                    </div>
                    <div class="formproducto__field">
                        <input id="usuario-lastName" type="text" name="usuario-lastName" placeholder="Ingrese su apellido.." required>
                    </div>
                </div>
                <div class="formproducto__row">
                    <div class="formproducto__field">
                        <input type="submit" value="Enviar">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>